
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: rgb(255, 255, 240);
}


::selection {
  background: rgb(255, 166, 77);
  color: white;
}
::-moz-selection {
  background: rgb(255, 166, 77);
  color: white;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.clickable {
    cursor: pointer;
}


#headerContainer {
    position: fixed;
    width: 100%;
    top: 0;

}
#header {
    background-color: orange;
    color: yellow;

    font-size: 200%;

    margin: 0;
    padding: 20px 0px 5px 40px;
}
#headerLink {
    text-decoration: none;
    color: yellow;

    text-shadow: 2px 2px rgb(239, 96, 0);
}

#nav {
    background-color: rgb(255, 140, 0);
    overflow: hidden;
    opacity: 0.99;
}
.navButton, #markButton {
    color: yellow;
    background-color: rgb(255, 140, 0);

    outline: none;
    border: none;
    border-radius: 10px;

    font-size: 100%;

    text-decoration: none;
    font-family: inherit;


    padding: 8px 20px;
    display: block;
    float: left;
}
.navButton.expand {
    display: none;
    border-radius: 0;
}

#markButton {
    width: 100%;
    margin: 0 auto;
    display: table;
    font-size: 200%;
    border-radius: 20px;
}
.navButton:hover, #markButton:hover {
    background-color: rgb(239, 96, 0);
    cursor: pointer;
}
#markButton:focus {
    border: 3px solid yellow;
    background-color: rgb(239, 96, 0);
}
/*#markButton:disabled {
    background-color: lightgrey;
    color: grey;
}*/
.current {
    background-color: rgb(239, 96, 0);
}


#content {
    width: 60%;
    margin: 0 auto;
}



h1 {
    text-shadow: 2px 2px orange;
}
#poemTitle {
    display: none;
    /*text-shadow: none;*/

}


@media (max-width: 900px) {
    .navButton {
        padding: 5px 10px;
    }
    #content {
        width: 80%;
    }
}
@media (max-width: 700px) {/* show dropdown menu bar */
    #header {
        padding: 10px 0px 5px 20px;
    }
    .navButton {
        padding: 5px 7px;
    }
    .navButton.expand {
        display: block;
        width: 100%;
    }
    .navButton:not(.expand) {
        display: none;
    }
    #content {
        width: 99%;
    }
    #nav.open .navButton {
        display: block;

    }
    #poemTitle {
        display: inline;
    }
}
@media (max-width: 500px) {
    #header {
        padding: 0;
        padding-left: 10px;
        color: green;
    }
}


#about {
    text-align: center;
}
hr {
    border: 0px;
    border-top: 1px solid black;
}
li {
    list-style: none;
}
li:before {
    content:'\2660'; /* spade bullet points */

    padding-right: 10px;
}


.displayedPoem {
    font-family: 'Playfair Display', serif;
}
.poem {
    visibility: hidden;
    display: none;
}
pre {
    font-size: 150%;

    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.poet {
    font-style: italic;
    text-align: right;
    font-size: 140%
}


input.word {
    background-color: rgb(255, 255, 240);

    font-family: inherit;
    font-size: inherit;
    text-align: center;

    /*margin: 5px;
    padding: 5px;*/

    border: none;
    border-color: transparent;
    border-bottom-width: medium;
    border-style: none none solid none;
    border-color: black;
    border-radius: 0;

    outline: none;
}
input.word:focus {
    border-color: orange;
}

/* for user's answers */
.incorrect {
    background-color: rgb(255, 102, 102);
    color: white;

    padding: 0 10px;
}
.correct {
    background-color: rgb(150, 255, 150);
    color: green;
}
.answer {
    background-color: rgb(255, 255, 240);
    color: rgb(100, 200, 100);
}

/* for score feedback */
#scorePopup {
    text-align: center;
}
#correctPopup {
    color: green;
    font-weight: 400;
    font-size: 400%;

    margin: 0;
    padding: 0;
}
#incorrectPopup {
    color: red;
    font-size: 200%;

    margin: 0;
    padding: 0;

}



/*testing*/

.switch {
    /*background-color: orange;*/
    display: inline-block;
    position: relative;

    width: 50px;
    height: 26px;
    /*padding: 5px;*/
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}
.switch input {
    display: none;
}

/* this is the background */
.slider {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: orange;

    -webkit-transition: 0.2s;
    transition: 0.2s;

    border-radius: 13px;

    cursor: pointer;
}
input:checked + .slider {
    background-color: orange;
}
input:not(:checked) + .slider {
    background-color: grey;
}

/* the actual handle */
.slider:before {
    background-color: white;
    content: "";

    position: absolute;
    width: 22px;
    height: 22px;

    left: 2px;
    bottom: 2px;

    border-radius: 50%;

    -webkit-transition: 0.2s;
    transition: 0.2s;
}
input:checked + .slider:before {
    margin-left: 24px;
}
input:not(:checked) + .slider:before {
    margin-left: 0px;
}
