
/*set default style for the entire page*/
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: rgb(255, 255, 240);
}

/*makes highlighted (by cursor) text white with an orange background*/
::selection {
  background: rgb(255, 166, 77);
  color: white;
}
::-moz-selection { /* same as above for MOZilla firefox */
  background: rgb(255, 166, 77);
  color: white;
}

/*a class to prevent elements from being highlighted  e.g. buttons*/
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*for anything that the user can click,
change the cursor to indicate this (to a pointing hand) */
.clickable {
    cursor: pointer !important;
}

/*pin the header to the top of the page*/
#headerContainer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1; /* ensure above all other content */
}
/* stylye the header ackground and text */
#header {
    background-color: orange;
    color: yellow;

    font-size: 200%;

    margin: 0;
    padding: 20px 0px 5px 40px;
}
/* the link back to the about page */
#headerLink {
    text-decoration: none; /* prevent underlining on hover*/
    color: yellow;

    text-shadow: 2px 2px rgb(239, 96, 0);
}

#nav {
    background-color: rgb(255, 140, 0);
    overflow: hidden;
    opacity: 0.99;
}
/* style buttons*/
.navButton, #markButton {
    color: yellow;
    background-color: rgb(255, 140, 0);

    outline: none;
    border: none;
    border-radius: 10px;

    font-size: 100%;

    text-decoration: none;
    font-family: inherit;


    padding: 8px 20px;
    display: block;
    float: left;
}
/*button to show/hide the menu on mobile, hide the button by default - later show if on mobile */
.navButton.expand {
    display: none;
    border-radius: 0;
}

#markButton {
    width: 100%;
    margin: 0 auto;
    display: table;
    font-size: 200%;
    border-radius: 20px;
}
/* darken buttons when mouse hovers over them */
.navButton:hover, #markButton:hover {
    background-color: rgb(239, 96, 0);
    cursor: pointer;
}
/* when button selected (e.g. using TAB key), give a yellow glow */
#markButton:focus {
    border: 3px solid yellow;
    background-color: rgb(239, 96, 0);
}
/*#markButton:disabled {
    background-color: lightgrey;
    color: grey;
}*/
/* darken the button which was last pressed - so when being tested on the poem 'London' the 'London' button is darkend to show this */
.current {
    background-color: rgb(239, 96, 0);
}

/* leave space either side of the main page text, making it easier to read */
#content {
    width: 60%;
    margin: 0 auto;
}


/* give all heading text a shadow */
h1 {
    text-shadow: 2px 2px orange;
}
/* hide title until test begins */
#poemTitle {
    display: none;
}

/* if the screen is ≤ 900 pixels across (a mobile device (maybe tablet)) - apply these styles */
@media (max-width: 900px) {
    /*make buttons smaller to fit on screen*/
    .navButton {
        padding: 5px 10px;
    }
    /*make main text take up more of the screen - easier to see & fewer line breaks*/
    #content {
        width: 80%;
    }
}
/* if screen even smaller (≤ 700 pixels) */
@media (max-width: 700px) {/* show dropdown menu bar */
    /* reduce empty space aropund everything */
    #header {
        padding: 10px 0px 5px 20px;
    }
    .navButton {
        padding: 5px 7px;
    }
    .navButton.expand {
        display: block;
        width: 100%;
    }
    /*hide all menu buttons except the button to expand the menu and show all*/
    .navButton:not(.expand) {
        display: none;
    }
    #content {
        width: 99%;
    }
    #nav.open .navButton {
        display: block;
    }
    #poemTitle {
        display: inline;
    }
}
@media (max-width: 500px) {
    #header {
        padding: 0;
        padding-left: 10px;
        /*color: green;*/
    }
}

/* text on the about page*/
#about {
    text-align: center;
}
/*style the 'Horizontal Rule' a line across the page  to be a single solid line - no shadow etc.*/
hr {
    border: 0px;
    border-top: 1px solid black;
}
/*remove default bullet points*/
li {
    list-style: none;
}
/*set the spade playing card suit (♠) as the bullet point*/
li:before {
    content:'\2660'; /* spade bullet points */
    padding-right: 10px;
}

/*set the fancy font to the poem being tested*/
.displayedPoem {
    font-family: 'Playfair Display', serif;
}
/*hide all poems - their text is retrieved and inserted into the 'test' div via javascript*/
.poem {
    visibility: hidden;
    display: none;
}
/* 'pre' tag is for preformatted text & preserves indents and paragraph breaks - used to display the poems */
pre {
    font-size: 150%;

    /*ensures displayed poem text wraps onto next line correctly - none cut off*/
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*the poets name - displayed at the bottom of each poem test*/
.poet {
    font-style: italic;
    text-align: right;
    font-size: 140%
}

/*a text box to input a missing word in the test*/
input.word {
    background-color: rgb(255, 255, 240);

    /*ensure default page style is preserved - dont use default form style*/
    font-family: inherit;
    font-size: inherit;
    text-align: center;

    /* ensure has underline border only */
    border: none;
    border-color: transparent;
    border-bottom-width: medium;
    border-style: none none solid none;
    border-color: black;
    border-radius: 0;

    outline: none;
}
/*when inputting this word, underline it in orange instead*/
input.word:focus {
    border-color: orange;
}

/* ==for user's answers== */

/*styles an incorrect word input by the user as red*/
.incorrect {
    background-color: rgb(255, 102, 102);
    color: white;

    padding: 0 10px;
}
/*styles a correct answer green*/
.correct {
    background-color: rgb(150, 255, 150);
    color: green;
}
/*styles the actual answer (input if the user got it wrong) green*/
.answer {
    background-color: rgb(255, 255, 240);
    color: rgb(100, 200, 100);
}

/* ==for score feedback== */
#scorePopup {
    text-align: center;
}
/*displays how many correct answers*/
#correctPopup {
    color: green;
    font-weight: 400;
    font-size: 400%;

    margin: 0;
    padding: 0;
}
/*displays how many incorrect answers*/
#incorrectPopup {
    color: red;
    font-size: 200%;

    margin: 0;
    padding: 0;
}



/* ===the toggle switch to turn hints on/off== */
.switch {
    /*background-color: orange;*/
    display: inline-block;
    position: relative;

    width: 50px;
    height: 26px;
    /*padding: 5px;*/
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}
/*hide the actual checkbox*/
.switch input {
    display: none;
}

/* this is the background of the swtich */
.slider {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: orange;

    -webkit-transition: 0.2s;
    transition: 0.2s;

    border-radius: 13px;

    cursor: pointer;
}
/*turn the slider orange when the switch is in the on position*/
input:checked + .slider {
    background-color: orange;
}
/*turn the slider grey when the switch is in the off position*/
input:not(:checked) + .slider {
    background-color: grey;
}

/* the actual handleof the switch */
.slider:before {
    background-color: white;
    content: "";

    position: absolute;
    width: 22px;
    height: 22px;

    left: 2px;
    bottom: 2px;

    border-radius: 50%;

    /*margin-left: 30px;*/
    /*transition: margin-left*/
    /*transition: 0.5s;*/

    /*take 0.2 seconds to move to new position when toggled*/
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
/*when 'on' move to the right*/
input:checked + .slider:before {
    margin-left: 24px;
}
/*when 'off' move to the left*/
input:not(:checked) + .slider:before {
    margin-left: 0px;
}
